@import "tailwindcss";

@theme {
  /* --font-display: "Montserrat", serif; */
  /* --breakpoint-md: 992px; */

  --breakpoint-xs: 340px;
  /* --breakpoint-md2: 800px; */
  --breakpoint-lg2: 1168px;

  /* ... */
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Primer kako promeniti boje slidera */
.p-slider .p-slider-range {
  background-color: #1aac83; /* Promeni boju trake koja pokazuje selektovanu vrednost */
}

.p-slider .p-slider-handle {
  background-color: white; /* Promeni boju "ruke" klizača */
  border-color: #1aac83; /* Promeni boju ivice klizača */
}

.p-slider .p-slider-handle:hover {
  background-color: #1aac83; /* Narandžasta boja klizača na hover */
}

/* Dropdown */
.p-dropdown:hover {
  border-color: #1aac83 !important;
  /* box-shadow: 0 0 0 0.2rem rgba(25, 118, 210, 0.2) !important; */
}
.p-dropdown.p-focus {
  border-color: #1aac83;
}

.p-fileupload-content {
  padding: 14px;
  /* border: none; */
}

/* .p-fileupload-buttonbar {
  border: none;
  border-bottom: none;
} */

.p-progressbar-value-animate {
  background-color: #1aac83;
}

/* .p-highlight {
  background-color: #1aac83;
  border-color: #1aac83;
}

.p-highlight:focus {
  border: none;
} */

.p-selectbutton .p-button.p-highlight {
  background: #1aac83 !important; /* Boja pozadine */
  border-color: #1aac83 !important; /* Boja ivice */
}

.p-selectbutton .p-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important; /* Zadrži originalnu boju ivice */
}

/* toggle button */

.p-togglebutton.my-custom-toggle.p-highlight .p-button {
  background: #1aac83 !important; /* Vaša plava boja */
  border-color: #1aac83 !important;
}

/* Promena za hover efekat */
/* .p-togglebutton.my-custom-toggle.p-highlight .p-button:hover {
  background: #1aac83 !important;
} */

/* .p-fileupload-buttonbar {
  border: none;
} */
/* format dropdown */

.p-sidebar-content {
  padding: 0;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Uklanja strelice u Firefoxu */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

/* Watermark uplado button */
.custom-file-upload .p-button {
  background: #1aac83;
  border: none;
  color: white;
}

.custom-file-upload .p-button:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.custom-cancel-upload {
  background: #f44336; /* Crvena boja za cancel */
  border: none;
  color: white;
}
